<head>
	<meta charset="UTF-8">
	<title>Housing Society Management System</title>
<<<<<<< HEAD
	
	      
</head>
 


<%= stylesheet_link_tag "application.css" %>
<div id="header"> <%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>&nbsp; &nbsp; 
=======

</head>
<%= stylesheet_link_tag "application.css" %>

  <div id="header">    <%= link_to("Back to List", {:action => 'list'}, :class => 'back-link') %>  &nbsp; &nbsp;
>>>>>>> 5c38b89a3e635703a230a79470f46d5a9217ccf2
<h2>Update Owner</h2>
</div>
<%= stylesheet_link_tag "Application.css" %>
 <%= javascript_include_tag "application.js" %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
<<<<<<< HEAD

 
  <%= form_for(:create_owner, :url => {:action => 'update', :id => @create_owner.id}) do |f| %>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<div id="section1">
<label>Name </label>  <%= f.text_field(:name) %> </br>
<label>Floor </label>  <%= f.text_field(:floor) %></br>
<label>Block </label>  <%= f.text_field(:block) %></br>
<label>Flat number </label>  <%= f.text_field(:flat_number) %></br>
<label>Business name </label>  <%= f.text_field(:business_name) %></br>

<label>Username </label>  <%= f.text_field(:username) %></br>
<label>Password </label>  <%= password_field_tag :password %></br>
<label> Area  as  per  builsing plan:</label> </br>
<label>Carpet area </label>  <%= f.text_field(:carpet_area) %></br>
<label>Build up area </label>  <%= f.text_field(:builtup_area) %></br>
<label>mezzanine</label>
<label>Yes</label> <%= f.radio_button :mezzanine, "Yes" %>&nbsp;&nbsp;
<label>No</label> <%= f.radio_button :mezzanine, "No" %></br>
<label>Water connection </label> 
<label>Common</label> <%= f.radio_button :water_connection, "Common"  %>&nbsp;&nbsp;
<label>Individual </label> <%= f.radio_button :water_connection, "Individual"  %></br>
<label>Electricity</label>
<label>Common</label> <%= f.radio_button :electricity, "Common"  %>&nbsp;&nbsp;
<label>Individual </label> <%= f.radio_button :electricity, "Individual"  %></br>
<label>Ownership</label>
<label>Owns</label> <%= f.radio_button :ownership, "Owns"  %>&nbsp;&nbsp;
<label>Rented </label> <%= f.radio_button :ownership, "Rented"  %> </br>
<label>Month from</label> <%= f.text_field :month_from, :id => "datepicker", :placeholder => "Click for calender"%></br>
<label>Month to </label>  <%= f.text_field :month_to, :id => "datepicker1", :placeholder => "Click for calender"%></br>
<label>Per month rent </label>  <%= f.text_field(:per_month_rent) %></br>
    
    <div class="form-buttons">
      <%= submit_tag("Update Owner") %>
    </div>
=======
  <%= form_for(:create_owner, :url => {:action => 'update', :id => @create_owner.id}) do |f| %>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<div id="section2">
<table2>
<tr><label>Name </label></tr><td>  <%= f.text_field :name, :placeholder => "Your Name",:required=>true,:pattern =>"[A-z,' ']{3,}",:title=>'Enter your name containing only letters' , :class=>'h5-name' %></td> <br></br>
<label>Floor </label>  <%= f.text_field :floor,:required=>true,:pattern=>"[1-5]",:title => 'Floor Limit >5' %><br></br>
<label>Block </label>  <%= f.text_field :block,:required=>true,:pattern=>"[A-Z]{1}[0-9]{2}",:title=>'Enter block number eg:A01' %><br></br>
<label>Flat number </label>  <%= f.text_field :flat_number,:required=>true,:pattern=>'[-+]?[0-9]+[.,]?[0-9]+',:title=>'Enter your flat number' %><br></br>
<label>Business name </label>  <%= f.text_field(:business_name) %><br></br>
<label>Username </label>  <%= f.text_field :username,placeholder:"EX:your@mail.com",:required => true,:title=>'please enter a valid email address      
eg:abc@xmail.com', :pattern =>'[^@]+@[^@]+\.[a-zA-Z]{2,6}' %><br></br>
<label>Password </label>  <%= password_field_tag :password %><br></br>
<br></br>
<label>Photos</label>
<p>
    <%= f.file_field :image %>
  </p> <br></br>  
<label> Area  as  per  building plan:</label> <br></br>
<label>Carpet area </label>  <%= f.text_field :carpet_area,:required=>true,:pattern=>'[-+]?[0-9]*[.,]?[0-9]+',:title=>'Enter only numbers' %><br></br>
<label>Build up area </label>  <%= f.text_field :builtup_area,:required=>true,:pattern=>'[-+]?[0-9]*[.,]?[0-9]+',:title=>'Enter only numbers' %><br></br><br></br>
<label>Mezzanine</label>&nbsp;&nbsp; <%= f.radio_button :mezzanine, "Yes" %>  Yes&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :mezzanine, "No" %>  No<br></br>
<label>Water connection</label>&nbsp;&nbsp; <%= f.radio_button :water_connection, "Common"  %>  Common&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :water_connection, "Individual"  %>  Individual </br></br>
<label>Electricity</label>&nbsp;&nbsp; <%= f.radio_button :electricity, "Common"  %>  Common&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :electricity, "Individual"  %>  Individual <br></br>
<label>Ownership</label>&nbsp;&nbsp; <%= f.radio_button :ownership, "Owns" %>  Owns&nbsp;&nbsp;&nbsp;&nbsp;<%= f.radio_button :ownership, "Rented"  %>  Rented <br></br><br></br>
<label><label1>*if Rented</label1></label><br></br>
<label><label1>*</label1>Month from </label><%= f.text_field :month_from, :id => "datepicker", :placeholder => "Click for calender" %><br></br>
<label><label1>*</label1>Month to </label><%= f.text_field :month_to, :id => "datepicker1", :placeholder => "Click for calender" %><br></br>
<label><label1>*</label1>Per month rent </label>  <%= f.text_field :per_month_rent,:pattern=>'[-+]?[0-9]*[.,]?[0-9]+' ,:title=>'Enter numbers only'%><br></br>
    
<%= f.submit 'Update Owner', :class =>'form-buttons' %>
   
>>>>>>> 5c38b89a3e635703a230a79470f46d5a9217ccf2
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
    duration: "fast"
  });
  $(function() {
    $( "#datepicker1" ).datepicker();
     duration: "fast"
  });

  </script>


    
  <% end %>
</div>

